<div class="container">
  <%= simple_form_for[@building, @rental] do |f| %>
    <%= f.input :area, label: false, placeholder: "Aire au m²" ,class:"address_rental" %>
    <%= f.input :nb_piece, label: false, placeholder: "Nombre de pièces" ,class:"address_rental" %>
    <%= f.input :price_rent, label: false, placeholder: "Prix du loyer" ,class:"address_rental" %>
    <%= f.input :description, label: false, placeholder: "Description des lieux (optionnel)" ,class:"address_rental" %>
    <%= f.submit 'Création', class: "btn btn-primary" %>
  <% end %>
</div>