<h1 class="text-center">Mes Locations</h1>
<br>
<h3 class="text-center"><%= @building.address %></h3>
<br>
<p class="text-center"><%= "#{@rental.type_of_home} de #{@rental.area} m² / #{@rental.nb_piece}  pièce(s) - #{@rental.price_rent} €" %></p>
<div class="row">
  <div class="col d-flex justify-content-center">
    <%= link_to 'Editer', "/buildings/#{@rental.building_id}/rentals/#{params[:id]}/edit", class:"btn btn-primary btn-home-connexion" %>
  </div>
  <div class="col d-flex justify-content-center">
    <%= link_to 'Supprimer', rental_path(@rental), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-home-connexion" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col d-flex justify-content-center">
    <%= link_to "Retour", :back, class:"btn btn-primary btn-home-connexion text-center" %>
  </div>
</div>